body {
  background-color: #f94d3d;
}
h1 {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  font-size: 4em;
}
h2  {
  font-size: 2em;
  font-weight: bold;
}
h3  {
  font-size: 1.5em;
  font-weight: bold;
}
#content{
  padding:40px;
  border:1px;
  color:#fff;
  display:block;
  font-family: Helvetica, Helvetica, Arial;
  font-size: 1em;
}
form{
  border: 2px solid black;
  padding-left: 2%;
}
.textbox  {
  height: 10px;
  width: 100%;
}
.textbox2 {
  height: 10px;
  width: 16%;
}
input,select{
    border: 2px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.8);
    margin: 0 0 4px 0;
    display: block;
    color: #000000;
}
.rebel  {
  display: inline-block;
}
.button {
    border: none;
    color: black;
    font-weight: bolder;

}
.gone
{
    display : none;
}

.back
{
    display : block;
}
.footer {
  text-align: center
}