body {
  background-color: #f94d3d;
}

#content{
  margin:auto;
  color:black;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  font-family: Helvetica, Helvetica, Arial;
  font-size: 1em;
}
#content h1 {
  background-color: #800000;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 3em;
  padding: 15px 20px;
  font-weight: bolder;
  text-align: center;
  margin: 8% 9% 0% 9%;
}

#content fieldset {
  background-color: #FFFFFF;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0  20px 20px;
  border-radius: 0 0 20px 20px;
  padding: 20px 26px;
  margin: 0 9% 10% 9%;
}

h2  {
  font-size: 2em;
  font-weight: bold;
}
h3  {
  font-size: 1.5em;
  font-weight: bold;
}

form{
margin: auto
}

input,select{
    border: 1px solid black; 
    margin: 0 0 4px 0;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #eee;
    color: black;
    padding: 4px 10px;
}

.input:focus{
  outline: none !important;
  border: 1px solid yellow;
}
.rebel  {
  display: inline-block;
}
.gone
{
    display : none;
}
.date{
    display : inline;
}
.back
{
    display : block;
}

#content fieldset input[type="submit"] {
  background-color: #33cc77;
  color: #fff;
  display: block;
  margin: auto;
  padding: 0.5em 0;
  width: 8em;
  font-weight: bolder;
  font-size: 1.1em;
}
#content fieldset input[type="submit"]:hover {
  background-color: #28ad63;
}
.footer {
  margin: auto;
  text-align: center;
  color: white;
}